@use '../../../commonStyles/variables'

.main-logo
    display: flex
    align-items: center
    cursor: pointer

    img
        width: 226px
        // height: 50px
        @media (max-width: 576px)
            width: 171px
